{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
        {% include 'partials/_alerts.html' %}

        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <form action="{% url 'search' %}">
                    <input class="busca__input imagem__texto" name="search" type="text" placeholder="O que você procura?">
                   <button type="submit" class="button_search">
                    <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                   </button>
                </form>
            </div>
        </div>
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{%url 'index'%}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                <a href="{% url 'login'%}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a>
                <a href="{% url 'register'%}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Register</a>
                <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
                <a href="{% url 'new_image' %}"><img src="{% static '/assets/ícones/1x/new.png' %}"> New Image</a>
            </nav>
        </section>