{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        {% if photography.picture == "" or photography.picture == null %}
                        <img class="imagem__imagem" src="{% static 'assets/imagens/galeria/not-found.png'%}">
                        {% else %}
                        <img class="imagem__imagem" src="{{ photography.picture.url }}">
                        {% endif %}
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{photography.name}}</p>
                                <p class="imagem__descricao">{{photography.legend}}</p>
                                <p class="imagem__texto">{{photography.description}}</p>
                            </div>
                        </div>
                        <div>
                            <a href="{% url 'edit_image' %}"><button  class="btn btn-success mb-1 col-12" style="padding: top 5px;" type="">edit</button></a>
                            <a href="{% url 'delete_image' %}"><button  class="btn btn-danger col-12 pt-2" style="padding: top 5px;" type="">delete</button></a>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
  
    {% endblock %}