{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
    
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                    <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a>
                    <a href="{% url 'register' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Register</a>
                    <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
                </nav>
            </section>
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                            <label for="{{field.id_for_label}}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
                           {{ field }}
                        </div>
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    <div>
                        <button  class="btn btn-light col-12" style="padding: top 5px;" type="submit">registrar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>


{% include 'partials/_footer.html' %}
{% endblock %}